.wrapper {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    place-content: center;

}

.heading {
    font-size: 64px;
    font-weight: 500;
    text-align: center;
}

.chatArea {
    border: 1px solid var(--neutral-border-lighter);
    width: 600px;
    border-radius: var(--border-radius-500);
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: .5rem .5rem 0 .5rem;
    overflow: hidden;

}

.messages {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: scroll;
    &::-webkit-scrollbar{
        display: none;
    }
}

.message {

    padding: .5em 1em;
    max-width: 80%;

}

.myMessage {
    border-radius: var(--border-radius-600);
    background-color: var(--neutral-border);
    margin-left: auto;
}

.inputWrapper {
    border-radius: var(--border-radius-900);
    background-color: var(--neutral-border);
    display: flex;
    align-items: center;
    padding: .8em 1.5em;

    >button {
        border-radius: 50%;
        background-color: var(--font-neutral);
        color: var(--neutral);
        width: 28px;
        height: 28px;
        padding: .2em;
        transition: all .15s linear;


        &:hover {
            scale: 1.05;
        }

        &:active {
            scale: .95;
        }
    }
}


.input {
    flex: 1;
}

.chatFooterInfo {
    text-align: center;
    font-size: 14px;
    color: hsl(from var(--neutral-border-lighter) h s 90);
}