.navbar {
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    position: fixed;
    left: 0;
    right: 0;
    height: 80px;
    background-color: var(--neutral-500);
    justify-content: space-between;
}

.cart {
    padding: .5em;
    border-radius: 8px;
    background-color: var(--neutral);
    cursor: pointer;
    position: relative;

    >span {
        --dim: 50%;
        padding: .4em;
        border-radius: 50%;
        width: var(--dim);
        height: var(--dim);
        position: absolute;
        left: -10px;
        top: -5px;
        background-color:var(--color-blue-500);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


.wrapper {
    height: calc(100vh - 80px);
    padding: .5rem;
    margin-top: 80px;
    display: grid;
    grid-template-rows: 1fr;
    place-content: center;

}

.heading {
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    padding: .1em .8em;
    background-color: var(--neutral);
    border-radius: 8px;
}

.chatArea {
    border: 1px solid var(--neutral-border-lighter);
    width: 600px;
    border-radius: var(--border-radius-500);
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: .5rem .5rem 0 .5rem;
    overflow: hidden;

}

.messages {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: scroll;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        display: none;
    }
}

.message {
    padding: .5em 1em;
    max-width: 80%;

    h2,
    h3,
    h4 {
        margin-block: .5rem;
    }

    ol,
    ul {
        margin-block: .5rem;
        color: hsl(from var(--font-neutral) h s 90);
        list-style-type: none;


        li {

            padding: .25em .5em;

            strong {
                font-weight: 500;
            }


        }
    }

    ul {
        list-style-type: disc;
        list-style-position: inside;
    }

    ol {
        counter-reset: counter;

        li {
            counter-increment: counter;

            &::before {
                content: counter(counter) ".";
                margin-right: .5em;
            }
        }
    }

}

.myMessage {
    border-radius: var(--border-radius-600);
    background-color: var(--neutral-border);
    margin-left: auto;
}

.inputWrapper {
    border-radius: var(--border-radius-900);
    background-color: var(--neutral-border);
    display: flex;
    align-items: center;
    padding: .8em 1.5em;

    >button {
        border-radius: 50%;
        background-color: var(--font-neutral);
        color: var(--neutral);
        width: 28px;
        height: 28px;
        padding: .2em;
        transition: all .15s linear;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


.input {
    flex: 1;
}

.chatFooterInfo {
    text-align: center;
    font-size: 14px;
    color: hsl(from var(--neutral-border-lighter) h s 90);
}

.form {
    margin-block: 1rem;
    display: grid;
    gap: .5rem;
    padding: .5rem;


}

.formInputWrapper {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1/3;
    place-content: center;
    width: fit-content;

    &:has(.formInput:checked)>.formLabel {
        color: var(--color-blue-500);
    }
}

.formLabel {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding-right: .5em;

    >span:first-child {
        font-size: 1.05rem;
    }


}


.formInput {
    --dim: 24px;
    border: 1.5px solid hsl(from var(--font-neutral) h s 90);
    width: var(--dim);
    height: var(--dim);
    position: relative;
    cursor: pointer;

    &:checked {
        background-color: hsl(from var(--font-neutral) h s 90);
        border-color: var(--color-blue-500);
    }

    &:checked::after {
        content: '';
        width: 8px;
        height: 18px;
        border-width: 0 2px 2px 0;
        border-style: solid;
        border-color: var(--color-blue-500);
        rotate: 45deg;
        position: absolute;
        left: 30%;
        top: -5%;
    }
}