/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin, padding */
* {
    margin: 0;
    padding: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

/* 5. Improve text rendering */
body {
    -webkit-font-smoothing: subpixel-antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select,
a {
    all: unset;
    text-decoration: none;
    box-sizing: border-box;
    font: inherit;


}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}


/* 10. Remove arrow in number type input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    /* Optional: Removes any default margin */
}

/* Global Variables */

:root {
    --neutral: hsl(0 0 6);
    --neutral-lighter: hsl(0 0 8);
    --neutral-500: hsl(0 0 12);
    --neutral-hover: hsl(0 0 13);
    --neutral-border: hsl(0 0 18);
    --neutral-border-lighter: hsl(0 0 33);

    --add-product-input-box-bg: hsl(0 0 19);

    --font-neutral: hsl(0 0 95);

    --border-radius-400: 5px;
    --border-radius-500: 8px;
    --border-radius-600: 10px;
    --border-radius-700: 15px;
    --border-radius-800: 20px;
    --border-radius-900: 100px;

    --primary-400: hsl(233, 94%, 63%);
    --primary-300: hsl(233, 94%, 68%);
    --primary-200: hsl(233, 94%, 73%);

    --clr-green-400: hsl(101, 78%, 41%);
    --clr-green-500: hsl(158, 100%, 30%);
    --clr-green-600: hsl(158, 100%, 20%);

    --clr-red-400: #FF2C2C;
    --clr-red-500: #E53935;
    --clr-red-600: #FF2C2C;

    --clr-yellow-400: hsl(53, 81%, 65%);
    --clr-yellow-500: hsl(43, 68%, 43%);
    --clr-yellow-600: hsl(53, 81%, 65%);





}

/* General Styling */
#root {
    width: 100%;
}

body {
    background-color: var(--neutral);
    color: var(--font-neutral);
    font-family: Roboto;
    display: flex;
    max-width: 1920px;
    margin: auto;
    max-height: 100vh;
    overflow-y: hidden;
}

main {
    flex: 1;
    max-height: 100%;
    overflow-y: auto;
}

button,
a:hover {
    cursor: pointer;
}

[role='button'] {
    cursor: pointer;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}


.disabledBtn {
    opacity: .7;
    pointer-events: none
}